<header class="site-header">
  <div class="section group">
    <div class="col span_2_of_2">
      <div class="site-title">
        <a href="/">{{ appName }}</a>
      </div>
    </div>
  </div>

  <div class="section group">
    <div class="col span_2_of_2">
      <nav class="nav-submenu">
        <a href="/patches" {{"class=" + (active.patches) if active.patches}}>Patches</a> /
        <a href="/stickers" {{"class=" + (active.stickers) if active.stickers}}>Stickers</a> /
        <a href="/posters" {{"class=" + (active.posters) if active.posters}}>Posters</a>
      </nav>
    </div>
  </div>
</header>