{% extends "layouts/poster-single.html" %}

{% block pageTitle %}
  Page Title
{% endblock %}

{% set author = 'Charles Reynolds-Talbot' %}
{% set authorLink = 'http://twitter.com/charles_rt' %}

{% set borderColor = '#005EA5' %}

{% block title %}
  Keep Going
{% endblock %}

{% block description %}
  People think they know what they want, which can lead to garden path designs
  that never solve the problem. We should ask and observe what people do, so that
  we can discover what they need.
{% endblock %}