{% extends "layouts/poster-single.html" %}

{% set author = 'Melanie Cannon' %}
{% set authorLink = 'http://twitter.com/melanie__cannon' %}

{% set borderColor = '#005EA5' %}

{% set title = 'DWP Content Design Principles' %}

{% block description %}
  <p>
  In the cross-government content community, we’ve been talking a lot about the crucial part content plays in coherent services. Helping colleagues from other disciplines understand the value of user-centred content is one of the goals of GOV.UK’s content operating model programme. Lead Content Designer at Department for Work and Pensions, Melanie Cannon, has been reflecting on some content design principles that are useful for anyone working in services across government..
  </p>

  <a href="https://insidegovuk.blog.gov.uk/2017/02/08/guest-post-sharing-some-user-centred-content-principles/">https://insidegovuk.blog.gov.uk/2017/02/08/guest-post-sharing-some-user-centred-content-principles/</a>
{% endblock %}
