{% extends "layouts/poster-single.html" %}

{% set author = 'Ben Holliday' %}
{% set authorLink = 'http://twitter.com/benholliday' %}

{% set borderColor = '#005EA5' %}

{% set title = 'Framing the problem' %}

{% block description %}
  Framing the problem should provide the constraint and reasoning behind new
  features, or be used to guide the prioritisation of any content and design
  changes. This is my approach. I spend most of my time at the moment asking
  people 5 questions.
{% endblock %}