{% extends "layouts/poster-single.html" %}

{% set author = 'Paul Smith' %}
{% set authorLink = 'http://twitter.com/paulmsmith' %}

{% set borderColor = '#005EA5' %}

{% set title = 'Litmus test for user needs' %}

{% block description %}
  <p>
    Understanding user needs enables better service design which results in greater digital take up, higher compliance, more effective policy outcomes, fewer user errors and inaccuracies, reduced failure demand and, overall, makes your service better value and cheaper to run.
  </p>

  <a href="https://userresearch.blog.gov.uk/2015/05/28/we-need-to-talk-about-user-needs/">https://userresearch.blog.gov.uk/2015/05/28/we-need-to-talk-about-user-needs/</a>
{% endblock %}