.sticker-patch-wrapper {
  color: #000;
  display: block;

  img {
    transition: transform ease-in-out 0.1s;
    margin: 20px;
  }

  &:hover {
    >.sticker-patch img {
      transform: scale(1.05);
    }
  }

  .sticker-patch {
    margin-top: 3em;
    height: 230px;
    border-radius: 3px;
    position: relative;
    transition: all ease-in-out 0.1s;
  }
}