.sticker-patch-wrapper {
  color: #000;
  display: block;
  text-align: center;
  transition: color ease-in-out 0.1s;

  img {
    transition: transform ease-in-out 0.1s;
    width: 100%;
    height: 100%;
  }

  &:hover {
    color: $govukBlue;
    >.sticker-patch img {
      transform: scale(1.05);
    }
  }

  .sticker-patch {
    height: 230px;
    border-radius: 3px;
    position: relative;
    transition: all ease-in-out 0.1s;
    position: relative;
  }
}