/*	==================================================== */
/*	Set margin, the rest is automatic! */ $margin: 3.4%;
/* 	==================================================== */


//  SECTIONS  ==========================================
.section { clear: both; padding: 0px; margin: 0px; }
//  GROUPING  ==========================================
.group { zoom:1; /* For IE 6/7 (trigger hasLayout) */
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}
//  GRID COLUMN SETUP   ================================
.col { display: block; float:left; margin: 1% 0 1% $margin;
	&:first-child {	margin-left: 0; /* all browsers except IE6 and lower */ }
}

@for $cols from 2 through 12 {
	$span: $cols;
	@while $span > 0 {
		@if ($span == $cols) {
			.span_#{$span}_of_#{$cols} { width: 100%; }
		} @else {
			.span_#{$span}_of_#{$cols} { width: (((100 - ($margin * ($cols - 1))) / $cols) * $span) + (($span - 1) * $margin); }
		}
		$span: $span - 1;
	}
}


.span_half { float:left; width:50%; }
.span_third { float:left; width:33.333333333333%; }
.span_quarter { float:left; width:25%; }
.span_fifth { float:left; width:20%; }
