header.site-header {
  color: #fff;
  font-size: 1.2em;
  text-align: center;

  :first-child.section {
    background-color: $charcoal;
  }

  :last-child.section {
    color: $charcoal;
    background: #fff;
    border-bottom: 1px solid $borderColor;
  }

  .logo {
    margin-left: 10%;
  }

  a {
    color: #fff;
    transition: color ease-in-out 0.1s;

    &:hover {
      color: #ddd;
    }
  }

  nav.nav-submenu {
    font-size: 0.8em;
    color: $medGrey;
    font-weight: bold;

    a {
      color: inherit;;

      &:hover {
        color: #000;
      }
    }

    .active {
      color: #000;
    }
  }
}