@import 'color-variables';
@import 'grid';
@import 'default-elements';
@import 'header';
@import 'archive-pages';
@import 'patch-page';
@import 'sticker-page';
@import 'typography';

.container {
  width: 90%;
  max-width: 1020px;
  margin: auto;
}

.back-link {
  display: inline-block;
  position: relative;
  padding-left: 14px;
}

.back-link::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid $govukBlue;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}