@import 'grid';
@import 'default-elements';
@import 'headings';
@import 'header';
@import 'archive-pages';
@import 'patch-page';
@import 'sticker-page';

.container {
  width: 90%;
  max-width: 1020px;
  margin: auto;
}