{% extends "layouts/sticker-single.html" %}

{% block pageTitle %}
  Page Title
{% endblock %}

{% set author = '' %}
{% set authorLink = '' %}

{% set borderColor = '#005EA5' %}

{% block title %}
  GOVUK crown
{% endblock %}

{% block description %}
  The GOVUK crown sticker is usually used to cover the Apple LED on the lid of
  Macbook laptops. For this, the sticker should be printed onto clear vinyl or
  die-cut from black vinyl.
{% endblock %}

{% block downloadLinks %}
  <a class="download-link" href="/images/stickers/crown-vinyl.sketch" download="/images/stickers/crown-vinyl.sketch">.sketch</a>
  <a class="download-link" href="/images/stickers/crown-vinyl.svg" download="/images/stickers/crown-vinyl.svg">.svg</a>
  <a class="download-link" href="/images/stickers/crown-vinyl.png" download="/images/stickers/crown-vinyl.png">.png</a>
{% endblock %}