{% extends "layouts/mission-single.html" %}

{% block pageTitle %}
  Page Title
{% endblock %}

{% set borderColor = '#005EA5' %}
{% set serviceLink = 'http://gov.uk' %}

{% block serviceName %}
  Access to work
{% endblock %}

{% block missionCopy %}
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
{% endblock %}