{% extends "layout.html" %}

{% block page_title %}
  Patches
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="container">
      <div class="section group">
        <div class="col span_1_of_4 no-margin">
          <a href="/patches/demo.html" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>

            <h2 class="heading-small">GOV.UK 17 October Release</h2>
            <p>GOV.UK went live with information for citizens and businesses, replacing Directgov and Business Link.</p>
          </a>
        </div>

        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>

            <h2 class="heading-small">GOV.UK 17 October Release</h2>
            <p>GOV.UK went live with information for citizens and businesses, replacing Directgov and Business Link.</p>
          </a>
        </div>

        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>

            <h2 class="heading-small">GOV.UK 17 October Release</h2>
            <p>GOV.UK went live with information for citizens and businesses, replacing Directgov and Business Link.</p>
          </a>
        </div>

        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>

            <h2 class="heading-small">GOV.UK 17 October Release</h2>
            <p>GOV.UK went live with information for citizens and businesses, replacing Directgov and Business Link.</p>
          </a>
        </div>
      </div>

      <div class="section group">
        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>

            <h2 class="heading-small">GOV.UK 17 October Release</h2>
            <p>GOV.UK went live with information for citizens and businesses, replacing Directgov and Business Link.</p>
          </a>
        </div>

        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>

            <h2 class="heading-small">GOV.UK 17 October Release</h2>
            <p>GOV.UK went live with information for citizens and businesses, replacing Directgov and Business Link.</p>
          </a>
        </div>

        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>

            <h2 class="heading-small">GOV.UK 17 October Release</h2>
            <p>GOV.UK went live with information for citizens and businesses, replacing Directgov and Business Link.</p>
          </a>
        </div>

        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>

            <h2 class="heading-small">GOV.UK 17 October Release</h2>
            <p>GOV.UK went live with information for citizens and businesses, replacing Directgov and Business Link.</p>
          </a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}