{% extends "layouts/default.html" %}
{% import 'helpers/macros.html' as m %}

{% block pageTitle %}
  Patches
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="container">
      <div class="section group">
        {{m.patch('industrial-injuries-disablement-benefit', 'Industrial Injuries Disablement Benefit')}}
        {{m.patch('access-to-work', 'Access To Work')}}
        {{m.patch('personal-independence-payment', 'Personal Independence Payment')}}
        {# {{m.patch('', '')}} #}
      </div>
    </div>
  </main>
{% endblock %}