{% extends "layouts/default.html" %}
{% import 'helpers/macros.html' as m %}

{% set title = 'Posters' %}

{% block content %}
  <main id="content" role="main">
    <div class="container">
      <div class="section group">
        {{m.poster('creating-a-digital-delivery-culture', 'Creating a digital delivery culture')}}
        {{m.poster('ask-what-people-do', 'Ask what people do')}}
        {{m.poster('framing-the-problem', 'Framing the problem')}}
        {{m.poster('come-fly-with-twitter', 'Come fly with Twitter')}}
      </div>
    </div>
  </main>
{% endblock %}