{% extends "layout.html" %}

{% block page_title %}
  Patches
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="container">
      <div class="section group">
        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>
          </a>
        </div>

        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>
          </a>
        </div>

        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>
          </a>
        </div>

        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>
          </a>
        </div>
      </div>

      <div class="section group">
        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>
          </a>
        </div>

        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>
          </a>
        </div>

        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>
          </a>
        </div>

        <div class="col span_1_of_4 no-margin">
          <a href="#" class="sticker-patch-wrapper">
            <div class="sticker-patch">
              <img src="/images/patch.svg" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}