{% extends "layouts/default.html" %}
{% import 'helpers/macros.html' as m %}

{% set title = 'Stickers' %}

{% block content %}
  <main id="content" role="main">
    <div class="container">
      <div class="section group">
        {{m.sticker('crown-vinyl')}}
        {{m.sticker('keep-going')}}
        {{m.sticker('keep-going-2')}}
				{{m.sticker('dwp-frontend')}}
      </div>
      <br/><br/>
      <div class="section group">
        {{m.sticker('dwp-interaction-designer')}}
        {{m.sticker('dwp-user-researcher')}}
				{{m.sticker('software-engineering-conference-2017')}}
				{{m.sticker('java-coffee')}}
        {# {{m.sticker('')}} #}
        {# {{m.sticker('')}} #}
      </div>
			<br><br>
			<div class="section group">
				{{m.sticker('trust-me')}}
			</div>
			
    </div>
  </main>
{% endblock %}
